/* Resat */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
body{
    -webkit-font-smoothing:antialiased;
    font-family: raleway-regular;
}
/* Font */

@font-face{
    font-family: "raleway-regular";
    src: url(../fonts/Raleway-Regular.ttf)
}
@font-face{
    font-family: "raleway-medium";
    src: url(../fonts/Raleway-Medium.ttf)
}
@font-face{
    font-family: "raleway-bold";
    src: url(../fonts/Raleway-Bold.ttf)
}
@font-face{
    font-family: "raleway-semibold";
    src: url(../fonts/Raleway-SemiBold.ttf)
}
@font-face{
    font-family: "raleway-black";
    src: url(../fonts/Raleway-Black.ttf)
}
@font-face{
    font-family: "raleway-extrabold";
    src: url(../fonts/Raleway-ExtraBold.ttf)
}


/* Color */
:root{
    --primary:#EEBF00;
    --secondery:#232B38;
    --ternary:#6c6c6c;
    --danger:#fe4545;
    --pure:#fefefe;
    --light:#f0f0f0;
    --heaven:#fff;
    --footer:#2d333f;
}


/* Reuse-Content */

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.magic-shadow{
    position: relative;
    background: var(--heaven);
}
.magic-shadow::after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg);
    position: absolute;
    bottom: -22px;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center
}
.magic-shadow-sm{
    position: relative;
    background: var(--heaven);
}
.magic-shadow-sm::after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow-sm.svg);
    position: absolute;
    bottom: -22px;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
}
.btn{
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    line-height: 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .3s;
    border: 1px solid transparent;
}
.btn-primary{
    background: var(--primary);
    color: var(--heaven);
}
.btn-primary:hover{
    background: var(--heaven);
    color: var(--primary);
    border:1px solid var(--primary)
}
.btn-secondery{
    background: var(--secondery);
    color: var(--heaven);
}
.btn-secondery:hover{
    background: var(--heaven);
    color: var(--secondery);
    border: 1px solid var(--secondery)
}
.section-heading{
    font-family: raleway-bold;
    position: relative;
    margin-bottom: 6rem;
    text-align: center;
}
.section-heading::after{
    content: '';
    display: block;
    position: absolute ;
    width: 100%;
    height: 30px;
    background-image: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    bottom: -40px;
}
hr{
    border: 1px solid var(--light);
    opacity: 0.8;
    margin: 1rem 0;
}
.text-center{
    text-align: center;
}


/* START_MOBILE_MENU */

.main-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.nav-background{
    width: 100%;
    height: 100%;
    background: var(--light);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
}
.nav-trigger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 15px;
    cursor: pointer;
    display: none;
} 
.nav-trigger svg{
    transform: rotate(90deg) scaleX(-1);
    width: 40px;
    height: 40px;
}
.site-content-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--heaven);
    z-index: 2;
    transition: .3s;
}
.site-content-wrapper.scaled{
    transform: scale(0.9) translateX(90%);
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 var(--secondery);
}
.site-content{
    width: 100%;
    height: 100%;
    overflow-x: auto;
}
.nav-background .mobile-logo{
    padding: 1rem;
}
.nav-background .mobile-nav{
    padding: 1rem;
}
.nav-background .mobile-nav ul{
    list-style-type: none;
}
.nav-background .mobile-nav ul li{
    margin-bottom: 1rem;
}
.nav-background .mobile-nav ul li a{
    text-decoration: none;
    color: var(--secondery);
    font-family: raleway-medium;
}
.nav-background .mobile-nav ul li a:hover{
    border-bottom: 4px solid var(--primary); 
}
.nav-background .mobile-nav ul li a:hover{
    color: var(--primary;)
}
.nav-background .contact,
.nav-background .time{
    padding: 1rem;
    margin-left: 0;
}
.nav-background .contact img,
.nav-background .time img{
    margin-right: 1rem;
}
.nav-background .contact h5,
.nav-background .time h5{
    font-family: raleway-bold;
    margin-bottom: 0.25rem;
    font-size: 1rem;
}
.nav-background .contact h6,
.nav-background .time h6{
    font-size: 0.75rem;
}
.nav-background .akib{
    font-family: raleway-bold;
    color: black;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 2rem;
}
.nav-background .akib a{
    text-decoration: none;
    color: var(--primary);
    font-size: 1.4rem;
}
.nav-background .akib a:hover{
    border-bottom: 4px solid var(--primary);
}
.nav-background .akib span{
    font-size: 2rem;
    font-family: raleway-extrabold;
}
.nav-background .cart{
    margin-bottom: 2rem;
}
.nav-background .cart a{
    font-family: raleway-bold;
    text-decoration: none;
    color: var(--secondery);
}
.nav-background .cart img{
    margin-right: 0.75rem;
    width: 20px;
    height: 20px;
}
/* END_MOBILE_MENU */

/* Start-Header-Section */

header.topbar{
    background: var(--secondery);
    color: var(--pure);
    font-family: raleway-semibold;
    padding: 0.75rem 0;
}
header.topbar .icons a{
    margin-right: 0.6rem;
}
header.topbar .auth > div a{
    color: var(--pure);
    text-decoration: none;
} 
header.topbar .auth .divider{
    padding: 0 1rem;
}
header.topbar .auth > div img{
    margin-right: 0.35rem;
}  
nav.top{
    padding: 1.5rem 0;
}
nav.top .contact h5,
nav.top .time h5{
    flex-flow: "raleway-black";
    margin-bottom: 0.23rem;
}
nav.top .contact h6,
nav.top .time h6{
    flex-flow: "raleway-medium";
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary)
}
nav.top .contact img,
nav.top .time img{
    margin-right: 1rem;
}
nav{
    position: sticky;
    top: -5.3rem;
    z-index: 9999;
}
nav .navbar a{
    text-decoration: none;
    color: var(--secondery);
    font-family: raleway-semibold;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: .3s;
}
nav .navbar a.active{
    background: var(--primary);
    color: var(--pure);
}
nav .navbar a:hover{
    background: var(--primary);
    color: var(--pure);
}
header .hero{
    height: 600px;
    background: url(../images/hero.png);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    overflow: hidden;
}
header .hero .container{
    position: relative;
}
header .hero .welcome{
    margin-bottom: 0.25rem;
}
header .hero .welcome span{
    font-family: raleway-bold;
    color: var(--secondery);
    margin-right: 0.75rem;
}
header .hero h1{
    font-family: raleway-extrabold;
    color: var(--secondery);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}
header .hero h1 span{
    color: var(--primary)
}
header .hero p{
    font-family: raleway-medium;
    width: 50%;
    line-height: 1.5rem;
    margin-bottom: 1rem;

}
header .hero .btn:first-child{
    margin-right: 0.45rem;
}
header .hero .hero-img{
    position: absolute;
    top: -40px;
    right: 40px;
}

/* End-Header-Section */



/* START-SLIDER-SECTION */


section{
    padding: 4rem 0;
}
section.top-products{
    background: var(--light)
}
section.top-products .food-slider .food-card{
    background: var(--heaven);
    padding: 1.5rem 0;
    border-radius: 4px;

}
section.top-products .food-slider .food-card .product-image img{
    width: 80%;
    height: 200px;
    padding-bottom: 1rem;
    object-fit: contain;
}
section.top-products .food-slider .food-card h2{
    font-family: raleway-bold;
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
}
section.top-products .food-slider .food-card .stars{
    margin-bottom: 0.5rem;
}
section.top-products .food-slider .food-card .stars img{
    margin-right: 0.25rem;
}
section.top-products .food-slider .food-card .price{
    font-family: raleway-medium;
    color: var(--danger);
    margin-bottom: 1rem;;
}
section.top-products .food-slider .food-card button{
    font-family: raleway-medum;
    color: var(--secondery);
    background: var(--heaven);
    border: 2px solid var(--primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
section.top-products .food-slider .food-card button:hover{
    background: var(--primary);
    color: var(--heaven);
}
.food-slider .food-card button img{
    background: var(--primary);
    padding: 0.50rem;
    height: 32px;
    margin-right: 1.2rem;
}
.slick-slide{
    margin: 0 27px;
}
.slick-list{
    margin: 0 -27px;
}
.top-products .slider-btn{
    width: 30px;
    height: 30px;
    border: none;
    background: var(--primary);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.prev-btn{
    position: absolute;
    top: 46%;
    left: -3rem;
    z-index: 1;
}
.next-btn{
    position: absolute;
    top: 46%;
    right:-3rem;
    z-index: 1;
}
.top-products .slider{
    position: relative;
}
.top-products .btn-wrapper{
    margin-top: 2rem;
}
.slick-track{
    padding: 1rem 0;
}
/* END-SLIDER-SECTION */

/* START-ABOUT-FRESH-MEAL-SECTION */

section.about-meal img{
    width: 85%;
}
section.about-meal h2{
    font-family: raleway-bold;
    font-size: 1.4rem;
    flood-color: var(--secondery);
    margin-bottom: 2rem;
    line-height: 1.2;
}
section.about-meal p{
    line-height: 1.7rem;
    margin-bottom: 4rem;
}

/* END-ABOUT-FRESH-MEAL-SECTION */


/* START-OUR-SERVICES-SECTION */

section.our-services{
    background: var(--light);
    position: relative;
    z-index: 0;
}
section.our-services .card-wrapper{
    margin-top: 8rem;
}

section.our-services .service-card{
    background: var(--heaven);
    position: relative;
    padding: 2rem;
    padding-top: 4rem;
    border-radius: 4px;
    text-align: center;
    margin-right: 2rem;

}
section.our-services .service-card:last-child{
    margin-right: 0;
}
section.our-services .service-card .icon{
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}
section.our-services .service-card h2{
    font-family: raleway-bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;;
}
section.our-services .service-card p{
    line-height: 1.6;
    margin-bottom: 1rem;;
}
.text-primary{
    color: var(--primary);
}
    
/* END-OUR-SERVICES-SECTION */


/* START-BIG-DEAL-SECTION */
    section.big-deal{
        background:linear-gradient(
            rgba(35,43,56,0.9),
            rgba(45,43,56,0.9)
        ),url(../images/food-table.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    /* section.big-deal .timer{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right:-2rem ;
        margin-bottom: 2rem;
    }
    section.big-deal .timer div{
        margin-right: 2rem;
        background: var(--primary);
        width: 150px;
        height: 150px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    section.big-deal .timer div span:first-child{
        font-family: raleway-semibold;
        color: var(--heaven);
        font-size: 2.5rem;
        margin-bottom: 0.05rem;
    }
    section.big-deal .timer div span:last-child{
        font-family: raleway-medium;
        color: var(--heaven);
    }
    .text-pure{
        color: var(--pure)
    } */
    .big-deal{
        text-align: center;
        color: var(--heaven);
    }
    #clock{
        display: flex;
        width: 570px;
        margin: 0 auto;
        justify-content: center;
    }
    #clock div{
        width: 100%;
        padding: 1rem 2.5rem;
        color: var(--heaven);
        background: var(--primary);
        border-radius: 4px;
        margin-right: 1.5rem;
        margin-bottom: 2rem;
    }
    #clock div span{
        display: block;
        text-align: center;
    }
    #clock div span:nth-child(1){
        font-size:4rem;
        font-family: raleway-bold;
    }
    #clock div span:nth-child(2){
        font-size: 1.7rem;
        font-family: raleway-medium;
    }

/* END-BIG-DEAL-SECTION */

/* START-LATEST-NEWS-SECTION */
section.latest-news{
    background: var(--light);
    position: relative;
    z-index: 0;
}
section.latest-news .articale-wrapper{
    display: flex;
    margin-right: -2rem;
}
section.latest-news .articale-wrapper .card{
    margin-right: 2rem;
    background: var(--heaven);
    border-radius: 4px;
}
section.latest-news .articale-wrapper .card img{
    width: 100%;
}
section.latest-news .articale-wrapper .card .card-content{
    padding: 2rem
}
section.latest-news .articale-wrapper .card .card-content .post-meta{
    margin-bottom: 1rem;
}
section.latest-news .articale-wrapper .card .card-content .post-meta .comment-count{
    margin-left: 1rem;
}
section.latest-news .articale-wrapper .card .card-content h2{
    font-family: raleway-bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
section.latest-news .articale-wrapper .card .card-content p{
    line-height: 1.6rem;
}
section.latest-news .btn-wrapper{
    margin-top:2rem;
}

/* END-LATEST-NEWS-SECTION */


/* START-SUBSCRIBE-SECTION */
section.subscribe{
    background: var(--primary);
}

section.subscribe .container > div:first-child img{
    width: 90%;
}
section.subscribe .container div:first-child{
    flex: 1;
}
section.subscribe .container > div:last-child{
    flex: 1;
}
section.subscribe h1{
    font-family: raleway-bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
section.subscribe p{
    font-family: raleway-medum;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}
section.subscribe .input-wrap{
    background: var(--heaven);
    padding: 0.3rem;
    border-radius: 4px;
    display: flex;
}

section.subscribe .input-wrap input{
    width: 100%;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;

}
section.subscribe .input-wrap button{
    padding: 0.8rem 2rem;
    border: none;
    background: var(--primary);
    color: var(--pure);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}
section.subscribe .input-wrap button:hover{
    background: var(--secondery);
}
/* END-SUBSCRIBE-SECTION */

/* START-CONTECT-SECTION */
section.contact{
    padding-top: 0;
    padding-bottom: 0;
}
section.contact .contact-info-wrapper{
    flex: 1;
    padding: 4rem 0;
}
section.contact .map{
    flex:1;
    filter: grayscale(100%);
}
section.contact .contact-info{
    display: flex;
    justify-content: center;
}
section.contact .contact-info > div > div{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

}
section.contact .contact-info > div > div img{
    margin-right: 1rem;
}
section.contact .contact-info > div > div > div{
    display: flex;
    flex-direction: column;
}
section.contact .contact-info > div > div > div span:first-child{
    font-family: raleway-bold;
    margin-bottom: 0.25rem;
}

/* END-CONTECT-SECTION */

/* START-FOOTER-SECTION */
footer{
    background: var(--footer);
    padding: 4rem 0;    
}
footer .container{
    display: flex;
    color: var(--pure);
}
footer .container .box{
    flex: 1;
    margin-right: 2rem;
    text-align: center;
}
footer .instagram-api img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer .instagram-api .post-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .instagram-api .post-wrapper > div{
    width: calc(1/3*100% - (1 - 1 /3)*10px);
    margin-bottom: 10px;
}
footer .box ul{
    list-style-type: none;
}
footer .box ul li a{
    text-decoration: none;
    color: var(--heaven);
    transition: 0.3s;
}
footer .box ul li a:hover{
    color: var(--primary);
    border-bottom: 4px solid var(--primary);
    padding-bottom: 0.3rem;
}
footer .box h3{
    border-bottom: 1px solid var(--primary);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
footer .box p{
    margin-bottom: 1rem;
    line-height: 1.6;
}
footer .box ul li{
    margin-bottom: 1rem;
}
footer .container .box:nth-child(3) > div{
    display: flex;
    justify-content: center;
}
footer .box:nth-child(3){
    text-align: left;
}
footer .box:nth-child(3) h3{
    text-align: center;
}
footer .box:nth-child(3) > div img{
    margin-right: 1rem;
}
footer .box:nth-child(3) ul li{
    margin-bottom: 1.5rem;
}

footer.copyright{
    background: var(--secondery);
    padding: 1rem 0;
    color: var(--pure);
    text-align: center;
    font-size: 0.75rem;
}
footer.copyright span{
    font-family: raleway-bold;
    font-size: 1rem;
}
footer.copyright a{
    text-decoration: none;
    color: var(--primary);
}
/* END-FOOTER-SECTION */